.navbar {
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    
}

h3 {
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

#home {
    margin-left: 800px;
}

h2 {
    color: white;
    margin-left: 50px;
    color: brown;
}


#lgn {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-left: 80%;
    
    
}
