h1 {
    font-size: 90px;
    border: gold: groove;
}
h1 {
    margin: 35px 0px;
    color: blue;
    margin: 50px 80px;
}
h2 {
    margin: 50px 150px
}

h2 {
    border-style: solid; border-width: medium; border-color: rgb(110, 220, 20);
}

.blue-paragraph {
    color: red;
}

.blue-paragraph {
    color: salmon;
}

body {
    background-color: slategray;
}
img {
    width: 50;
    background-color: gray;
    border: green;
    padding: 10;
    margin: 10;
}

div {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}