body {
    font-family: "tahoma";
}
header {
    display: flex;
    justify-content: flex-end;
    margin: 50px 100px;
}

h1 {
    font-size: 40px;
}

.chatbutton {
    background-color: #add7ff ;
    text-align: center;
    margin: 50px 0px;
    padding: 14px 25px;
    width: 150px;
}

.chatbutton:hover {
    background-color: #396ee1;
    color: whitesmoke;
}

.home {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}


#profile {
    width: 35%;
    margin: 30px 100px;
}

#pic {
    width: 65;
    height: 300px;
    margin: 0px 100px;
}

.button {
    background-color: #add7ff;
    margin: 2px 10px;
    padding: 8px 15px;
    text-align: left;
    
}

.button:hover {
    background-color: rgb(131, 158, 192);
    color: whitesmoke;
}

a {
    color: blue;
    text-decoration: none;
}