* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0px;
}

.header {
    text-align: center;
    padding: 60px;
    background-color: #553175;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;

}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 768px) {
    .navbar, .section {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 600px) {
    .navbar {
        font-size: 12px;
    }
    
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;

}

.imgph2 {
    background-color: #aaa;
    width: 100%;
    height: 200px;
}

.right {
    flex: 70%;
    background-color: whitesmoke;
    padding: 20px;
}

.imgph {
    background-color: #aaa;
    width: 100%;
    height: 60px;
    padding: 20px;
}



.footer {
    text-align-last: center;
    padding: 20px;
    background-color: #553175;
    color: white;

}
    