.LeftSection {
    width: 50%;
}

img {
    
    margin-top: 50px;
    left: 565px;
    width: 250px;
    height: 250px;
    
}

h2 {
    color: #707070;
    font: normal normal 900 42px/57px Nunito;
    letter-spacing: 0.84px;
    

}

h3 {
    color: #A5A5A5;
    cursor: pointer;
}

#signup {
    color: #707070;
    margin-left: 1.1rem;
    
    cursor: pointer;
}

input {
    top: 663px;
    left: 605px;
    width: 300px;
    height: 33px;
    border-radius: 10px;
    border: 1px solid #A29F9F;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

button {
    border-radius: 7px;
    top: 943px;
    left: 628px;
    width: 175px;
    height: 35px;
    background: #F91C85 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 4px 5px #00000029;
}

.signupbtn {
    color: #F0EFEF;
    opacity: 1;
}

